body {
  font-family: "Open Sans", sans-serif;
  background: url(img/graduation.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header,
main,
footer {
  position: relative;
}

header {
  background-color: #fff;
  opacity: 0.9;
}

.logo {
  width: 15%;
}

a {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.header-info {
  text-align: center;
}

span.hide {
  display: none;
}

main {
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  margin-top: 10%;
}

.highlight-text {
  color: #f84a54;
}

h2 {
  font-size: 20px;
  margin-top: 15%;
}

footer {
  margin-top: 15%;
}

@media (min-width: 768px) {
  .header-info {
    text-align: left;
  }

  h2 {
    font-size: 25px;
  }

  footer {
    margin-top: 17%;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 7%;
  }
}

@media (min-width: 1200px) {
  span.hide {
    display: block;
  }
}
